.userButton {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  img {
    width: 36px;
    height: 36px;
    border: 100%;
    object-fit: cover;
  }

  .arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }
}

.loginLink {
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;

  :hover {
    background-color: #f5f5f5;
  }
}

.userOptions {
  position: absolute;
  right: 0;
  top: 120%;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.103);
}

.userOption {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.userOption:hover {
  background-color: #f5f5f5;
  color: gray;
}

@media (max-width: 475px) {
  .userButton {
    display: none;
  }
}
